<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopcupcakes.udacity.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.loopcupcakes.udacity.popularmovies.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.loopcupcakes.udacity.popularmovies.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.loopcupcakes.udacity.popularmovies.DetailsActivity"
            android:parentActivityName="com.loopcupcakes.udacity.popularmovies.MainActivity">

        </activity>

        <activity
            android:name="com.loopcupcakes.udacity.popularmovies.FavoritesActivity"
            android:parentActivityName="com.loopcupcakes.udacity.popularmovies.MainActivity">

        </activity>

        <provider
            android:name="com.loopcupcakes.udacity.popularmovies.providers.FavoritesProvider"
            android:authorities="com.loopcupcakes.udacity.popularmovies.Movies"
            android:enabled="true"
            android:exported="false">

        </provider>

    </application>

</manifest>
